<ion-content id="fondo">
  <div class="contenedor-principal">
    <div class="contenido">
      <div *ngIf="preguntaActual?.texto" class="pregunta-container">
        <h2><p>{{ preguntaActual.texto }}</p></h2>
      </div>

      <div *ngIf="preguntaActual?.opciones" class="opciones-container">
        <ion-radio-group [(ngModel)]="seleccion">
          <ion-item *ngFor="let opcion of preguntaActual.opciones" class="opcion-item">
            <ion-label>{{ opcion }}</ion-label>
            <ion-radio slot="start" [value]="opcion"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <div class="boton-container">
        <ion-button class="boton-bonito" expand="block" color="primary" (click)="responder()" [disabled]="!seleccion">
          RESPONDER
        </ion-button>
      </div>

      <div class="estado-juego">
        <p>Vidas <ion-icon name="arrow-forward-outline"></ion-icon> {{ vidasRestantes }} <ion-icon name="heart-outline"></ion-icon></p>
      </div>
    </div>

    <div class="monstruo-container">
      <img src="/assets/icon/alexis.png" alt="monstruo">
      <div class="barra-dano-container">
        <div class="barra-dano">
          <div class="barra-progreso" [style.width]="((progresoVisual / 7) * 100) + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
