<ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      @for (p of appPages; track p; let i = $index) {
        <ion-fab-button [routerLink]="[p.url]" routerDirection="root">
          <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        </ion-fab-button>
      }
      <ion-fab-button [routerLink]="['/ranking']" routerDirection="root">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-router-outlet></ion-router-outlet>
</ion-content>