<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar class="menu-toolbar menu-toolbar-small">
      <ion-title>📁 MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list id="menu-list">
      <ion-list-header class="menu-header">
        <ion-label>👾 Monsterland</ion-label>
      </ion-list-header>
      
      @for (p of appPages; track p; let i = $index) {
        <ion-menu-toggle auto-hide="true">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="true" routerLinkActive="selected" class="menu-item">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" class="menu-icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
      
      <!-- Changed menu item to point to the '/ranking' route -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerDirection="root" [routerLink]="['/ranking']" lines="none" detail="true" routerLinkActive="selected" class="menu-item">
          <ion-icon name="bar-chart-outline" slot="start" class="menu-icon"></ion-icon>
          <ion-label>Ranking</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="menu-toolbar menu-toolbar-small">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>📁 MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</div>

