<ion-content class="custom-content">
  <div class="container-todo">
    <div class="logo-container">
      <img class="img" src="assets/icon/monsterland.png" alt="Logo Monsterland">
    </div>
    <h1 class="main-title">ESTE SITIO WEB PARA GENTE CON SENTIDO COMUN</h1>
    <div class="text-container">
      <p>
        Este sitio web contiene material restringido para gente que es sensible, que incluye 
        <b>ESCORPIÓN</b> y representaciones explícitas de actividad <b>MANTIS RELIGIOSA</b>.
      </p>
      <div class="buttons-container">
        <ion-button expand="block" class="primary" fill="clear" (click)="exit()">Podemita</ion-button>
        <ion-button expand="block" class="secundary" fill="clear" (click)="enter()"><b>Normal</b></ion-button>
      </div>
    </div>
  </div>
</ion-content>
